<section id="search">
<form action= "/searches/0" metod = "get">
     <label>Search Twitter</label>
     <input type="text" name = "q" />
     <input type ="submit" name = "submit" value = "Search" />
</form>
</section>
