// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Codystar|Arbutus);

body{
 background: #800080;
 font-family: 'Arbutus', cursive;
 font-size: 18px;
 color: #DEB887;
}

h1 {
  margin-top:100px;
  text-align: center;
  color:#FFD700;
  font-family: 'Codystar', cursive;
  }


