@import url(http://fonts.googleapis.com/css?family=Codystar|Arbutus);

body{
 background: #800080;
 font-family: 'Arbutus', cursive;
 font-size: 18px;
 color: #DEB887;
}

h1 {
  margin-top:100px;
  text-align: center;
  color:#FFD700;
  font-family: 'Codystar', cursive;
  }

nav ul {
  font-size: 22px;
  list-style-type: none;
  margin-bottom: 20px;

  li {
    display: inline;
    padding-right: 10px
  }
}
